.main {
    font-size: 10px;
}

/* backgroundに画像を配置した結果 */
/* h1のサイズに画像が入ろうとする.pagetitleに当てているにも関わらず */

/* .pagetitle {
    text-align: center;
    margin: 2rem 0;
    background-image: url("/images/WorkHeaderImage.png");
    background-size: contain;
    background-repeat: no-repeat;
} */

.pagetitle {
    text-align: center;
    margin: 2rem 0;
    position: relative;
}


.pagetitle>p {
    font-size: 150px;
    /* font-weight: bold; */
    font-family: "Roboto Mono", monospace;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: solid 5px #9C9C9C;
}


/* DisplayContents.module.css */
.WorksContens {
    text-align: center;
    display: flex;
    /* 親要素をフレックスコンテナにする */
    flex-direction: column;
    /* 縦方向に子要素を配置 */
    align-items: center;
    /* 子要素を水平方向に中央揃え */
    width: 100%;
}


.WorksContens>h2 {
    display: inline-block;
    margin-bottom: 50px;
    border-bottom: solid 5px #26D8E3;
    font-size: 60px;
    font-weight: bold;
}

.WorkDisplay {
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: #26D8E3;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}


.WorkContentsDetail {
    display: grid;
    /* 1列に設定 */
    grid-template-columns: 1fr;
    /* 行の最小高さを300px、最大高さを自動に設定 */
    grid-auto-rows: minmax(10rem, 20rem);
    gap: 20px;
    width: 100%;
    ;
}

.WorkSet {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: center; */
    margin-left: 20rem;
}

.WorkSet>img {
    width: 30rem;
    height: 20rem;
}

.WorkContentsStyle {
    text-align: center;
    display: flex;
    /* 親要素をフレックスコンテナにする */
    flex-direction: column;
    /* 縦方向に子要素を配置 */
    align-items: center;
    /* 子要素を水平方向に中央揃え */
    justify-content: center;
    margin-bottom: 5rem;
    width: 100%;
}

.WorkContentsText {
    width: 100%;

}