.main {
  font-size: 10px;
}

.works__contents {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.works__contents > h2 {
  display: inline-block;
  margin: 3rem auto;
  border-bottom: solid 5px #26d8e3;
  font-size: 4rem;
  font-weight: bold;
}

.works__display {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #26d8e3;
  margin-bottom: 3rem;
  width: 100%;
  height: 100%;
}

.works__set {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 15rem;
}

.works__set > img {
  width: 30rem;
  height: 20rem;
}

.works__content-style {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  width: 100%;
}

.works__text {
  margin-left: 2rem;
  width: 40%;
  text-align: left;
}

.works__text > h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .works__contents > h2 {
    margin: 2rem 0 3rem 0;
    font-size: 2rem;
    /* ヘッダーサイズを小さく */
    /* マージンを減少 */
  }

  .works__display {
    flex-direction: column;
    /* アイテムを縦方向に並べる */
    margin-bottom: 1rem;
    height: auto;
    /* 高さを自動調整 */
  }

  .works__content-detail {
    grid-template-columns: 1fr;
    /* 1列レイアウトを維持 */
    grid-auto-rows: minmax(5rem, 10rem);
    /* 行の高さを調整 */
    gap: 10px;
    margin-bottom: 5rem;
  }

  .works__set {
    flex-direction: column;
    /* アイテムを縦方向に並べる */
    align-items: center;
    /* 中央揃え */
    margin-left: 0;
    /* 左のマージンを削除 */
  }

  .works__set > img {
    width: 100%;
    /* 幅を100%に */
    height: auto;
    /* 高さを自動調整 */
  }

  .works__content-style {
    /* モバイル用のスタイル（必要に応じて） */
  }

  .works__text {
    margin-left: 0;
    width: 80%;
    margin-bottom: 2rem;
  }

  .works__text > h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
  .works__contents {
    color: #fff;
    background-color: #333;
  }

  .works__contents > h2 {
    color: #fff;
    border-bottom-color: #4a4a4a;
  }

  .works__display {
    background-color: #4a4a4a;
  }

  .works__text {
    background-color: #4a4a4a;
    color: #fff;
  }

  .works__text > h3 {
    color: #fff;
  }
}
