.pagetitle {
    text-align: center;
    margin: 2rem 0;
}

.WorkDisplay {
    margin: 10px auto;
    display: flex;
    /* Flexbox を使用して子要素を横並びに配置 */
    align-items: center;
    /* 子要素を垂直方向に中央揃え */
    gap: 2rem;
    /* 子要素間の間隔 */
}

.WorkImg {
    /* ... 他の WorkImg のスタイル ... */
}

.Contents {
    /* ... 他の Contents のスタイル ... */
}