.main {
    font-size: 10px;
}

/* backgroundに画像を配置した結果 */
/* h1のサイズに画像が入ろうとする.pagetitleに当てているにも関わらず */

/* .pagetitle {
    text-align: center;
    margin: 2rem 0;
    background-image: url("/images/WorkHeaderImage.png");
    background-size: contain;
    background-repeat: no-repeat;
} */

.pagetitle {
    text-align: center;
    margin: 2rem 0;
    position: relative;
}

.pagetitle>p {
    font-size: 150px;
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 290px;
    left: 500px;
    border-bottom: solid 5px #9C9C9C;

}


/* DisplayContents.module.css */
.WorksContens {
    text-align: center;
    display: flex;
    /* 親要素をフレックスコンテナにする */
    flex-direction: column;
    /* 縦方向に子要素を配置 */
    align-items: center;
    /* 子要素を水平方向に中央揃え */

}

.WorksContens>h2 {
    display: inline-block;
    margin-bottom: 50px;
    border-bottom: solid 5px #26D8E3;
    font-size: 60px;
    font-weight: bold;
}

.WorkDisplay {
    display: flex;
    gap: 2rem;
    /* 要素を縦方向に並べる */
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: 80%;
}

.WorkImg {
    /* text-align: left; */
    text-align: center;
}

.ContentsTitle {
    text-align: left;
}

.ContentsTitle>p {
    width: 60%;
}