.pagetitle {
    text-align: center;
    margin: 2rem 0;
    position: relative;
}

.pagetitle>h1 {
    font-size: 60px;
    position: absolute;
    top: 250px;
    left: 620px;
    border-bottom: solid 2px #555;

}

/* DisplayContents.module.css */

.WorkDisplay {
    background-color: aqua;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.WorkImg {}

.ContentsTitle {}