.pagetitle {
    text-align: center;
    margin: 2rem 0;
}

/* DisplayContents.module.css */

.WorkDisplay {
    background-color: aqua;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.WorkImg {}

.ContentsTitle {}