.pagetitle {
    text-align: center;
    margin: 2rem 0;
    background-image: url(../../public/images/WorkHeaderImage.png);
    background-size: cover;

}

/* DisplayContents.module.css */

.WorkDisplay {
    background-color: aqua;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.WorkImg {}

.ContentsTitle {}