.pagetitle {
    text-align: center;
    margin: 2rem 0;
    background-image: url(../../public/images/WorkHeaderImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
}

.pagetitle>h1 {
    color: blue;
}

/* DisplayContents.module.css */

.WorkDisplay {
    background-color: aqua;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.WorkImg {}

.ContentsTitle {}