.home__page3 {
  background-color: black;
  margin-bottom: 4rem;
}
.home__page3__position {
  text-align: center;
}
.home__page3__title {
  margin: 2rem auto;
  display: inline-block;
  margin-top: 4rem;
  font-size: 4rem;
  color: #ffffff;
  border-bottom: solid #00ffff 6px;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {
  /* ３ページ目 */
  .home__page3__title {
    font-size: 60px;
    height: 12%;
  }
}
