/* navigation.module.css */

.nav {
    background-color: #000;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 10px 0 0;
    height: 50px;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: large;
    display: block;
}

.nav a:hover {
    color: #aaa;
}

@media screen and (max-width: 640px) {
    .nav ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .nav li {
        border-bottom: solid 1px #fff;
        margin-right: 0;
    }
}